
<!DOCTYPE html>
<html>
<head>
    <title>Task Assigner</title>
    <link rel="stylesheet" href="task.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="heading">
        <h1>Task Assigner</h1>
        <h2>Tasks</h2>
    </div>
    <div class="container">
        <form action="" id="taskForm">
            <i class='bx bx-task' ></i>
            <label for="task">Task:</label>
            <select id="task" name="task">
                <option value="task1" id="task1">Data cleaning </option>
                <option value="task2" id="task1">Frontend Development </option>
                <option value="task2" id="task1">IT Management</option>
                <option value="Cyber Threat Analysts">Cyber Threat Analysts</option>
                <option value="Backend Management">Backend Management</option>
                <option value="Cloud storage Management">Cloud storage Management</option>
                <option value="App Development">App Development</option>
                <option value="Web Devlopment">Web Devlopment</option>
                <option value="UI/UX Development">UI/UX Development</option>
                <option value="Software Improvement">Software Improvement</option>
            </select><br>
            <i class='bx bx-user'></i>
            <label for="assignee">Assigner:</label>
            <select id="assigner" name="assignee">
                <option value="Arielle Travis">Arielle Travis</option>
                <option value="Adonis Dejesus">Adonis Dejesus</option>
<option value="Julissa Solomon">Julissa Solomon</option>
<option value="Musa Welch">Musa Welch</option>
<option value="Amira Davis">Amira Davis</option>
<option value="Lucas Benjamin">Lucas Benjamin</option>
<option value="Jianna Ellis">Jianna Ellis</option>
<option value="Cole Johns">Cole Johns</option>
<option value="Giovanna Eaton">Giovanna Eaton</option>
<option value="Leighton Koch">Leighton Koch</option>
<option value="Milana Dodson">Milana Dodson</option>
<option value="Seven O'Neill">Seven O'Neill</option>
<option value="Kenna Santiago">Kenna Santiago</option>
<option value="Beckham Daugherty">Beckham Daugherty</option>
<option value="Magdalena Boone">Magdalena Boone</option>
<option value="Mauricio Clay">Mauricio Clay</option>
<option value="Aliana Brandt">Aliana Brandt</option>
<option value="Damir Sims">Damir Sims</option>
<option value="Lena Greene">Lena Greene</option>
<option value="Griffin Page">Griffin Page</option>
<option value="Cataleya Higgins">Cataleya Higgins</option>
<option value="Sterling Bryan">Sterling Bryan</option>
<option value="Meredith Leach">Meredith Leach</option>
<option value="Westin Mills">Westin Mills</option>
<option value="June Washington">June Washington</option>
<option value="Juan Underwood">Juan Underwood</option>
<option value="Ensley Parsons">Ensley Parsons</option>
<option value="Lewis Rios">Lewis Rios</option>
<option value="Brooke Montoya">Brooke Montoya</option>
<option value="Ford McCarty">Ford McCarty</option>
<option value="Halo Long">Halo Long</option>
<option value="Jace Steele">Jace Steele</option>
<option value="Rylie Potts">Rylie Potts</option>
<option value="Alfred Burton">Alfred Burton</option>
<option value="Miriam Reeves">Miriam Reeves</option>
<option value="Clark Stephens">Clark Stephens</option>
<option value="Millie Bryan">Millie Bryan</option>
<option value="Jaxtyn Whitehead">Jaxtyn Whitehead</option>
<option value="Sylvie Grant">Sylvie Grant</option>
<option value="Leon Cooper">Leon Cooper</option>
<option value="Serenity George">Serenity George</option>
<option value="Mark Solomon">Mark Solomon</option>
<option value="Mylah Bravo">Mylah Bravo</option>
<option value="Genesis Delacruz">Genesis Delacruz</option>
<option value="Celine Dean">Celine Dean</option>
<option value="Ronan Palmer">Ronan Palmer</option>
<option value="Juniper Good">Juniper Good</option>
<option value="Davian Blackwell">Davian Blackwell</option>
<option value="Saoirse Hail">Saoirse Hail</option>
<option value="Hector Mejia">Hector Mejia</option>
<option value="Saylor Willis">Saylor Willis</option>
<option value="Remington Lindsey">Remington Lindsey</option>
<option value="Colette Hammond">Colette Hammond</option>
<option value="Francis Vaughn">Francis Vaughn</option>
<option value="Reign Browning">Reign Browning</option>
<option value="Rohan Burch">Rohan Burch</option>
<option value="Freyja Yoder">Freyja Yoder</option>
<option value="Johan Villarreal">Johan Villarreal</option>
<option value="Jazlyn Mann">Jazlyn Mann</option>
<option value="Nehemiah Kline">Nehemiah Kline</option>
<option value="Sevyn Spencer">Sevyn Spencer</option>
<option value="Ace Rosales">Ace Rosales</option>
<option value="Kinley Pennington">Kinley Pennington</option>
<option value="Bobby Frazier">Bobby Frazier</option>
<option value="Octavia Conrad">Octavia Conrad</option>
<option value="Dilan Garza">Dilan Garza</option>
<option value="River Winters">River Winters</option>
<option value="Deandre Sutton">Deandre Sutton</option>
<option value="Izabella McPherson">Izabella McPherson</option>
<option value="Foster Rowland">Foster Rowland</option>
<option value="Harleigh Hutchinson">Harleigh Hutchinson</option>
<option value="Korbin Juarez">Korbin Juarez</option>
<option value="Juliet Guerrero">Juliet Guerrero</option>
<option value="Bryce Leon">Bryce Leon</option>
<option value="Amora Carter">Amora Carter</option>
<option value="Maverick Schneider">Maverick Schneider</option>
<option value="Delaney Yoder">Delaney Yoder</option>
<option value="Johan Alvarez">Johan Alvarez</option>
<option value="Leilani Arellano">Leilani Arellano</option>
<option value="Kellan Avery">Kellan Avery</option>
<option value="Meghan Lucas">Meghan Lucas</option>
<option value="Chance Mays">Chance Mays</option>
<option value="Denisse Marquez">Denisse Marquez</option>
<option value="Malakai McFarland">Malakai McFarland</option>
<option value="Annika Harrington">Annika Harrington</option>
<option value="Omari Bradshaw">Omari Bradshaw</option>
<option value="Berkley Ward">Berkley Ward</option>
<option value="Jameson Sosa">Jameson Sosa</option>
<option value="Cassandra Weiss">Cassandra Weiss</option>
<option value="Koa Dorsey">Koa Dorsey</option>
<option value="Addyson Khan">Addyson Khan</option>
<option value="Kendrick Pham">Kendrick Pham</option>
<option value="Raelyn Hendricks">Raelyn Hendricks</option>
<option value="Dash Howard">Dash Howard</option>
<option value="Sophie Branch">Sophie Branch</option>
<option value="Keenan Blake">Keenan Blake</option>
<option value="Amanda Schroeder">Amanda Schroeder</option>
<option value="Izaiah Lu">Izaiah Lu</option>
<option value="Emani Henderson">Emani Henderson</option>
<option value="Beau Fischer">Beau Fischer</option>
<option value="Maci Gomez">Maci Gomez</option>
<option value="Isaiah Zimmerman">Isaiah Zimmerman</option>
<option value="Ariyah Velez">Ariyah Velez</option>
<option value="Kareem Stafford">Kareem Stafford</option>
<option value="Bridget Leach">Bridget Leach</option>
<option value="Westin Compton">Westin Compton</option>
<option value="Elina McClain">Elina McClain</option>
<option value="Mitchell Valdez">Mitchell Valdez</option>
<option value="Diana Fuller">Diana Fuller</option>
<option value="Andre Nguyen">Andre Nguyen</option>
<option value="Nova Durham">Nova Durham</option>
<option value="Kellen Lee">Kellen Lee</option>
<option value="Scarlett Harding">Scarlett Harding</option>
<option value="Brodie Nguyen">Brodie Nguyen</option>
<option value="Nova Wood">Nova Wood</option>
<option value="Carson Lugo">Carson Lugo</option>
<option value="Kaylie Hensley">Kaylie Hensley</option>
<option value="Layne Kim">Layne Kim</option>
<option value="Gabriella Wiggins">Gabriella Wiggins</option>
<option value="Azariah Reilly">Azariah Reilly</option>
<option value="Tori Moran">Tori Moran</option>
<option value="Tate Chase">Tate Chase</option>
<option value="Angie Roberson">Angie Roberson</option>
<option value="Shepherd McDaniel">Shepherd McDaniel</option>
<option value="Dahlia Chavez">Dahlia Chavez</option>
<option value="Ian Hail">Ian Hail</option>
<option value="Lainey Price">Lainey Price</option>
<option value="Brooks Dean">Brooks Dean</option>
<option value="Julianna Medrano">Julianna Medrano</option>
<option value="Arian McCarty">Arian McCarty</option>
<option value="Halo Peters">Halo Peters</option>
<option value="Patrick Castillo">Patrick Castillo</option>
<option value="Eva Lam">Eva Lam</option>
<option value="Bodie Henry">Bodie Henry</option>
<option value="Summer Powers">Summer Powers</option>
<option value="Sean Valencia">Sean Valencia</option>
<option value="Maddison Robertson">Maddison Robertson</option>
<option value="Emiliano Collins">Emiliano Collins</option>
<option value="Kinsley Moyer">Kinsley Moyer</option>
<option value="Ahmir Conner">Ahmir Conner</option>
<option value="Alondra Atkins">Alondra Atkins</option>
<option value="Cason Jacobson">Cason Jacobson</option>
<option value="Royal Zimmerman">Royal Zimmerman</option>
<option value="Sergio Dickson">Sergio Dickson</option>
<option value="Emmalynn York">Emmalynn York</option>
<option value="Leandro Cervantes">Leandro Cervantes</option>
<option value="Aylin Stone">Aylin Stone</option>
<option value="Finn Woods">Finn Woods</option>
<option value="Reese Leblanc">Reese Leblanc</option>
<option value="Braden Barron">Braden Barron</option>
<option value="Anya Hunt">Anya Hunt</option>
<option value="Jesus Gallegos">Jesus Gallegos</option>
<option value="Ari Hall">Ari Hall</option>
<option value="Thomas Palacios">Thomas Palacios</option>
<option value="Bria Molina">Bria Molina</option>
<option value="Prince Robles">Prince Robles</option>
<option value="Felicity Horton">Felicity Horton</option>
<option value="Garrett Knapp">Garrett Knapp</option>
<option value="Linda Pope">Linda Pope</option>
<option value="Gunnar Garcia">Gunnar Garcia</option>
<option value="Amelia Wallace">Amelia Wallace</option>
<option value="Chase Simpson">Chase Simpson</option>
<option value="Anastasia Rich">Anastasia Rich</option>
<option value="Miller Barrett">Miller Barrett</option>
<option value="Kendall Fisher">Kendall Fisher</option>
<option value="Gael Harding">Gael Harding</option>
<option value="Aniya Bond">Aniya Bond</option>
<option value="Roger Heath">Roger Heath</option>
<option value="Amani Franco">Amani Franco</option>
<option value="Gage Riley">Gage Riley</option>
<option value="Kayla Mendez">Kayla Mendez</option>
<option value="Arthur Roach">Arthur Roach</option>
<option value="Lyanna Bonilla">Lyanna Bonilla</option>
<option value="Aden Burke">Aden Burke</option>
<option value="Vera Chase">Vera Chase</option>
<option value="Otis Krueger">Otis Krueger</option>
<option value="Kamari Ayers">Kamari Ayers</option>
<option value="Ulises Yoder">Ulises Yoder</option>
<option value="Emerie Douglas">Emerie Douglas</option>
<option value="Derek Petersen">Derek Petersen</option>
<option value="Fernanda Joseph">Fernanda Joseph</option>
<option value="Kyle Quintana">Kyle Quintana</option>
<option value="Kenia Rose">Kenia Rose</option>
<option value="Hayden Glover">Hayden Glover</option>
<option value="Alessia Keith">Alessia Keith</option>
<option value="Willie Thomas">Willie Thomas</option>
<option value="Elizabeth Henry">Elizabeth Henry</option>
<option value="Carlos Cuevas">Carlos Cuevas</option>
<option value="Adele Calderon">Adele Calderon</option>
<option value="Oakley Arellano">Oakley Arellano</option>
<option value="Faye Johnson">Faye Johnson</option>
<option value="Noah Lloyd">Noah Lloyd</option>
<option value="Emely Riley">Emely Riley</option>
<option value="Amari Hawkins">Amari Hawkins</option>
<option value="Ariel House">Ariel House</option>
<option value="Yehuda Maldonado">Yehuda Maldonado</option>
<option value="Elaina Williams">Elaina Williams</option>
<option value="Oliver Allen">Oliver Allen</option>
<option value="Riley Proctor">Riley Proctor</option>
<option value="Vance McCarty">Vance McCarty</option>
<option value="Halo Houston">Halo Houston</option>
<option value="Sylas Freeman">Sylas Freeman</option>
<option value="Norah Frost">Norah Frost</option>
<option value="Dario Avila">Dario Avila</option>
<option value="Amiyah Sandoval">Amiyah Sandoval</option>
<option value="Brantley English">Brantley English</option>
<option value="Kelly Burnett">Kelly Burnett</option>
<option value="Davis Brewer">Davis Brewer</option>
<option value="Thea Holland">Thea Holland</option>
<option value="Brady Harris">Brady Harris</option>
<option value="Penelope Yates">Penelope Yates</option>
<option value="Braylon Burnett">Braylon Burnett</option>
<option value="Emberly Hansen">Emberly Hansen</option>
<option value="Charlie Sloan">Charlie Sloan</option>
<option value="Selene Knapp">Selene Knapp</option>
<option value="Boden McLaughlin">Boden McLaughlin</option>
<option value="Stephanie Patrick">Stephanie Patrick</option>
<option value="Derrick Cardenas">Derrick Cardenas</option>
<option value="Raven Glass">Raven Glass</option>
<option value="Allan Mahoney">Allan Mahoney</option>
<option value="Promise Marsh">Promise Marsh</option>
<option value="Bo Perkins">Bo Perkins</option>
<option value="Sage Delgado">Sage Delgado</option>
<option value="Colt Strickland">Colt Strickland</option>
<option value="Nia Webster">Nia Webster</option>
<option value="Shawn Krueger">Shawn Krueger</option>
<option value="Kamari Nolan">Kamari Nolan</option>
<option value="Maximo Ayers">Maximo Ayers</option>
<option value="Simone Kelly">Simone Kelly</option>
<option value="Cooper Meyer">Cooper Meyer</option>
<option value="Sara Sanford">Sara Sanford</option>
<option value="Truett Knight">Truett Knight</option>
<option value="Gracie Burton">Gracie Burton</option>
<option value="Zander Lucero">Zander Lucero</option>
<option value="Ila Donovan">Ila Donovan</option>
<option value="Brayan Serrano">Brayan Serrano</option>
<option value="Allie Mitchell">Allie Mitchell</option>
<option value="Jaxon Hess">Jaxon Hess</option>
<option value="Kaliyah Swanson">Kaliyah Swanson</option>
<option value="Hugo Le">Hugo Le</option>
<option value="Myla Morgan">Myla Morgan</option>
<option value="Hunter Hicks">Hunter Hicks</option>
<option value="Alina Hudson">Alina Hudson</option>
<option value="Peter Vo">Peter Vo</option>
<option value="Artemis Welch">Artemis Welch</option>
<option value="Hendrix Fletcher">Hendrix Fletcher</option>
<option value="Anaya Norton">Anaya Norton</option>
<option value="Callen Vang">Callen Vang</option>
<option value="Madisyn Corona">Madisyn Corona</option>
<option value="Darian Phillips">Darian Phillips</option>
<option value="Naomi Hobbs">Naomi Hobbs</option>
<option value="Brendan Kirk">Brendan Kirk</option>
<option value="Ellis Gardner">Ellis Gardner</option>
<option value="Alan Salas">Alan Salas</option>
<option value="Amber Wagner">Amber Wagner</option>
<option value="Enzo Dorsey">Enzo Dorsey</option>
<option value="Addyson Ochoa">Addyson Ochoa</option>
<option value="Winston Bradley">Winston Bradley</option>
<option value="Vanessa Cortes">Vanessa Cortes</option>
<option value="Banks Blair">Banks Blair</option>
<option value="Frances Horne">Frances Horne</option>
<option value="Zev Macias">Zev Macias</option>
<option value="Adley Goodwin">Adley Goodwin</option>
<option value="Kaison Day">Kaison Day</option>
<option value="Hayden Barry">Hayden Barry</option>
<option value="Emery Russell">Emery Russell</option>
<option value="Raelynn Faulkner">Raelynn Faulkner</option>
<option value="Jabari Glass">Jabari Glass</option>
<option value="Clare Stevens">Clare Stevens</option>
<option value="Zachary Burton">Zachary Burton</option>
<option value="Miriam McCann">Miriam McCann</option>
<option value="Heath Hines">Heath Hines</option>
<option value="Poppy Hernandez">Poppy Hernandez</option>
<option value="Mason Duffy">Mason Duffy</option>
<option value="Addisyn Blevins">Addisyn Blevins</option>
<option value="Avi Morse">Avi Morse</option>
<option value="Kairi Benton">Kairi Benton</option>
<option value="Jamal Singh">Jamal Singh</option>
<option value="Vivienne Montes">Vivienne Montes</option>
<option value="Darren Lester">Darren Lester</option>
<option value="Averi Rice">Averi Rice</option>
<option value="Graham Murray">Graham Murray</option>
<option value="Faith Kerr">Faith Kerr</option>
<option value="Louie Garner">Louie Garner</option>
<option value="Wayne Summers">Wayne Summers</option>
<option value="Darius Stanley">Darius Stanley</option>
<option value="Gracelyn Alvarez">Gracelyn Alvarez</option>
<option value="Xavier Ray">Xavier Ray</option>
<option value="Ruth Pearson">Ruth Pearson</option>
<option value="Gunner Booth">Gunner Booth</option>
<option value="Zariyah Wheeler">Zariyah Wheeler</option>
<option value="Kenneth Montgomery">Kenneth Montgomery</option>
<option value="Evangeline Pace">Evangeline Pace</option>
<option value="Dior Mendoza">Dior Mendoza</option>
<option value="Cora Saunders">Cora Saunders</option>
<option value="Kasen Hester">Kasen Hester</option>
<option value="Zendaya Hubbard">Zendaya Hubbard</option>
<option value="Forrest Solis">Forrest Solis</option>
<option value="Miracle Crane">Miracle Crane</option>
<option value="Fox Stafford">Fox Stafford</option>
<option value="Bridget Ferguson">Bridget Ferguson</option>
<option value="Miguel Molina">Miguel Molina</option>
<option value="Alexandria Morrow">Alexandria Morrow</option>
<option value="Kyree Holloway">Kyree Holloway</option>
<option value="Mae Villalobos">Mae Villalobos</option>
<option value="Reuben Gonzalez">Reuben Gonzalez</option>
<option value="Abigail Solomon">Abigail Solomon</option>
<option value="Musa Cole">Musa Cole</option>
<option value="Margaret Bruce">Margaret Bruce</option>
<option value="Uriah Reeves">Uriah Reeves</option>
<option value="Lana Estrada">Lana Estrada</option>
<option value="Phoenix Pham">Phoenix Pham</option>
<option value="Raelyn Ballard">Raelyn Ballard</option>
<option value="Kenzo Conway">Kenzo Conway</option>
<option value="Ryann Figueroa">Ryann Figueroa</option>
<option value="Spencer Perez">Spencer Perez</option>
<option value="Eleanor Briggs">Eleanor Briggs</option>
<option value="Case Manning">Case Manning</option>
<option value="Jennifer Velasquez">Jennifer Velasquez</option>
<option value="Sullivan Schmitt">Sullivan Schmitt</option>
<option value="Queen Ingram">Queen Ingram</option>
<option value="Tripp Coffey">Tripp Coffey</option>
<option value="Paola Russell">Paola Russell</option>
<option value="Weston Moran">Weston Moran</option>
<option value="Celeste Cardenas">Celeste Cardenas</option>
<option value="Johnathan Leach">Johnathan Leach</option>
<option value="Martha McCormick">Martha McCormick</option>
<option value="Jasiah Patrick">Jasiah Patrick</option>
<option value="Lyra Barrett">Lyra Barrett</option>
<option value="Angelo Carpenter">Angelo Carpenter</option>
<option value="Lilly Chan">Lilly Chan</option>
<option value="Frank Conner">Frank Conner</option>
<option value="Alondra Griffin">Alondra Griffin</option>
<option value="Ayden Park">Ayden Park</option>
<option value="Lia Williamson">Lia Williamson</option>
<option value="Emerson Day">Emerson Day</option>
<option value="Hayden Hudson">Hayden Hudson</option>
<option value="Peter Rhodes">Peter Rhodes</option>
<option value="Tatum Kirby">Tatum Kirby</option>
<option value="Tony Pineda">Tony Pineda</option>
<option value="Nola Schmidt">Nola Schmidt</option>
<option value="Zayden Rogers">Zayden Rogers</option>
<option value="Madelyn Rojas">Madelyn Rojas</option>
<option value="Colin Dillon">Colin Dillon</option>
<option value="Laurel Parsons">Laurel Parsons</option>
<option value="Lewis Flynn">Lewis Flynn</option>
<option value="Dorothy Parra">Dorothy Parra</option>
<option value="Davion Smith">Davion Smith</option>
<option value="Olivia Patel">Olivia Patel</option>
<option value="Parker Clarke">Parker Clarke</option>
<option value="Kaitlyn Flowers">Kaitlyn Flowers</option>
<option value="Saul Gentry">Saul Gentry</option>
<option value="Amelie David">Amelie David</option>
<option value="Alonso Zhang">Alonso Zhang</option>
<option value="Sarai Duffy">Sarai Duffy</option>
<option value="Kyng Patrick">Kyng Patrick</option>
<option value="Lyra Blair">Lyra Blair</option>
<option value="Troy Ali">Troy Ali</option>
<option value="Zelda Soto">Zelda Soto</option>
<option value="Barrett Sandoval">Barrett Sandoval</option>
<option value="Elsie Villanueva">Elsie Villanueva</option>
<option value="Huxley Delacruz">Huxley Delacruz</option>
<option value="Celine Bond">Celine Bond</option>
<option value="Roger Gregory">Roger Gregory</option>
<option value="Alaya Chandler">Alaya Chandler</option>
<option value="Royal Alfaro">Royal Alfaro</option>
<option value="Yasmin Lindsey">Yasmin Lindsey</option>
<option value="Jayson Morgan">Jayson Morgan</option>
<option value="Delilah Perry">Delilah Perry</option>
<option value="Waylon Kaur">Waylon Kaur</option>
<option value="Holland Kim">Holland Kim</option>
<option value="Roman Coleman">Roman Coleman</option>
<option value="Julia Kim">Julia Kim</option>
<option value="Roman Santana">Roman Santana</option>
<option value="Myra Bravo">Myra Bravo</option>
<option value="Genesis Maxwell">Genesis Maxwell</option>
<option value="Kyla Rodriguez">Kyla Rodriguez</option>
<option value="Henry Benson">Henry Benson</option>
<option value="Collins Carrillo">Collins Carrillo</option>
<option value="Wade Solomon">Wade Solomon</option>
<option value="Mylah Alvarez">Mylah Alvarez</option>
<option value="Xavier Bean">Xavier Bean</option>
<option value="Jenesis Anderson">Jenesis Anderson</option>
<option value="Jacob Blackburn">Jacob Blackburn</option>
<option value="Frida Yates">Frida Yates</option>
<option value="Braylon Fletcher">Braylon Fletcher</option>
<option value="Anaya Austin">Anaya Austin</option>
<option value="Omar Madden">Omar Madden</option>
<option value="Violette Griffith">Violette Griffith</option>
<option value="Franklin Allison">Franklin Allison</option>
<option value="Chelsea Mendez">Chelsea Mendez</option>
<option value="Arthur Blankenship">Arthur Blankenship</option>
<option value="Rosalee Beard">Rosalee Beard</option>
<option value="Nathanael Bass">Nathanael Bass</option>
<option value="Zahra Baker">Zahra Baker</option>
<option value="Ezra Wilkins">Ezra Wilkins</option>
<option value="Amalia Reeves">Amalia Reeves</option>
<option value="Clark Hancock">Clark Hancock</option>
<option value="Katelyn Kerr">Katelyn Kerr</option>
<option value="Louie Huang">Louie Huang</option>
<option value="Francesca Chan">Francesca Chan</option>
<option value="Frank Russo">Frank Russo</option>
<option value="Tinsley Schaefer">Tinsley Schaefer</option>
<option value="Ishaan Carrillo">Ishaan Carrillo</option>
<option value="Kaylani Velasquez">Kaylani Velasquez</option>
<option value="Sullivan Ortega">Sullivan Ortega</option>
<option value="Lilah Douglas">Lilah Douglas</option>
<option value="Derek Frye">Derek Frye</option>
<option value="Raya Wilson">Raya Wilson</option>
<option value="Daniel Sanchez">Daniel Sanchez</option>
<option value="Aria Williams">Aria Williams</option>
<option value="Oliver Johnston">Oliver Johnston</option>
<option value="Laila Maxwell">Laila Maxwell</option>
<option value="Eden Blevins">Eden Blevins</option>
<option value="Aila Archer">Aila Archer</option>
<option value="Ephraim Burgess">Ephraim Burgess</option>
<option value="Emory Romero">Emory Romero</option>
<option value="Bryson Gregory">Bryson Gregory</option>
<option value="Alaya Hoover">Alaya Hoover</option>
<option value="Jaziel Cohen">Jaziel Cohen</option>


            </select><br>
            <i class='bx bx-target-lock'></i>
            <label for="due-date">Due Date:</label>
            <input type="date" id="due-date" name="due-date"><br>
            <i class='bx bx-chevrons-right' ></i>
            <button type="button" id="button">Assign Task</button>
            <i class='bx bxs-data' id="dataimage"></i>
            <a href="data.html"><button type="button" id="data">Data</button></a>
            
        </form>
    </div>

    <script>
        const assignButton = document.getElementById('button');
        const dueDate = document.getElementById('due-date');
        const taskSelect = document.getElementById('task');
        const userSelect = document.getElementById('assigner');
    
        assignButton.addEventListener('click', function() {
            if (dueDate.value === '' || taskSelect.value === '' || userSelect.value === '') {
                alert('Please select a task, user, and due date.');
            } else {
                alert('Task is allocated!');
            }
        });
    </script>
    
</body>
</html>
